.login {
    background-image: url('../img/loginMap.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30%;
    background-size: 100%;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    background-attachment:local ;
    background-position: absolute;
}