.search-container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 16px;
}
  
.search-container-input {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    border-right: 1px solid rgba(250, 250, 250, 0.08);
    width: 288px;
    padding: 5px;
}

.search-container-input:hover{
    background-color: #212429;
    border-radius: 10px; 
}

.search-container-input.last-field {
    border: none;
}
  
.search-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-field input {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
.search-field input::placeholder {
    color: var(--White---Medium-Empathy, rgba(250, 250, 250, 0.74));
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-field label {
    color: var(--White---Hight-Empathy, #FAFAFA);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
  